const customerData = [
  { id: 4084, name: "Scott", phoneNumber: "+1XXXXXXXXXX", recruiter: "alice", address: "100 Main Street", coordinator: "bob" },
  { id: 4093, name: "Leslie", phoneNumber: "+1XXXXXXXXXX", recruiter: "alice", address: "32108 Main Street", coordinator: "bob" },
  { id: 4099, name: "Neha",  phoneNumber: "+1XXXXXXXXXX", recruiter: "alice", address: "90543 Main Street", coordinator: "bob" },
  { id: 5010, name: "Aimee", phoneNumber: "+1XXXXXXXXXX", recruiter: "alice", address: "3854 Main Street", coordinator: "bob" }
 

];

const recruiters = [
  {name: "alice", vcf: "https://XXXXXXXXXXXXXXXXXXXXXX/alice.vcf", projectedAddress: "+1XXXXXXXXXX" },
  {name: "bob",   vcf: "https://XXXXXXXXXXXXXXXXXXXXXX/bob.vcf",   projectedAddress: "+1XXXXXXXXXX" }
]

const serverUrl = "http://localhost:3000";

const getCustomers = () => {
  return customerData;
};

module.exports = {
  customerData,
  recruiters,
  serverUrl
}